.category-list {
    display: grid;
    justify-content: space-between;
    align-items: start;
}

.category-card {
    position: relative;
}

.category-card-img img {
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
}

.category-top {
    background-color: var(--main);
    position: absolute;
    top: 2%;
    left: 5%;
    padding: 5px 10px;
    border-radius: 2px;
}

.category-card .category-top h6 {
    color: var(--secondary);
}

.category-card .category-bottom {
    width: 100%;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-bottom h6 {
    color: var(--secondary);
    font-weight: var(--fw-md);
}

.category-bottom h3 {
    color: var(--sub);
    font-weight: var(--fw-lg);
}

@media screen and (min-width: 1098px) {
    .category-list {
        grid-template-columns: repeat(3, 30%);
    }

    .category-bottom h6 {
        font-size: 16px;
    }

    .category-bottom h3 {
        font-size: 40px;
    }

    .category-top h6 {
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .category-list {
        grid-template-columns: repeat(3, 30%);
    }

    .category-bottom h6 {
        font-size: 12px;
    }

    .category-bottom h3 {
        font-size: 25px;
    }
    
    .category-top h6 {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .category-list {
        grid-template-columns: repeat(2, 49%);
    }

    .category-bottom h6 {
        font-size: 10px;
    }

    .category-bottom h3 {
        font-size: 18px;
    }
    
    .category-top h6 {
        font-size: 8px;
    }
}