.category-cards {
    border-radius: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
}

.category-cards.peech {
    background-color: linear-gradient(180deg, #FF6F61 0%, #99433A 100%);
    background-image: url('../../../../public/assets/images/Category-1.png');
}

.category-cards.blue {
    background-color: linear-gradient(180deg, #2196F3 0%, #13578D 100%);
    background-image: url('../../../../public/assets/images/Category-1.png');
}

.category-double {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-items: center;
    justify-content: space-between;
}