.order-tabs-content::-webkit-scrollbar {
    display: none;
}

.order-tabs-content {
    margin-top: 30px;
    max-height: 60vh;
    overflow-y: auto;
}

.order-headcard {
    background-color: var(--ter-light);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.order-headcard {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.order-bottomcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    animation: fadeSlide 0.3s ease-in-out;
}

.order-headcard h5 {
    color: var(--text-primary);
    font-weight: var(--fw-md);
    text-transform: capitalize !important;
}

.order-headcard h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
    text-transform: capitalize !important;
}

.order-bottomleft .product-detail {
    display: flex;
    align-items: center;
    gap: 10px;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1098px) {
    .order-headcard h5 {
        font-size: 14px;
    }

    .order-headcard h6 {
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .order-headcard h5 {
        font-size: 12px;
    }

    .order-headcard h6 {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .order-headcard h5 {
        font-size: 12px;
    }

    .order-headcard h6 {
        font-size: 10px;
    }
}