.cart-table::-webkit-scrollbar {
    display: none;
}

.qtydiv {
    width: 125px;
    display: grid;
    grid-template-columns: 30px 50px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ter-light);
    border: 2px solid var(--border);
    border-radius: 5px;
}

.qtydiv input {
    background-color: transparent;
    padding: 6px 0px;
    text-align: center;
    border: none;
    color: var(--text-primary);
}

.cart-total {
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 5px;
}

.cart-table {
    max-height: 80vh !important;
    overflow-y: scroll !important;
}

.cart-bottom {
    display: grid;
    align-items: start;
    justify-content: space-between;
}


@media screen and (min-width: 1098px) {
    .input-group input {
        font-size: 12px;
    }

    .cart-bottom {
        grid-template-columns: 60% 30%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .product-td {
        width: 300px;
    }

    .input-group input {
        font-size: 12px;
    }

    .cart-bottom {
        grid-template-columns: 60% 30%;
    }
}

@media screen and (max-width: 767px) {
    .product-td {
        width: 350px;
    }

    .input-group input {
        font-size: 10px;
    }

    .cart-bottom {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
}