.checkout-main {
    display: grid;
    justify-content: space-between;
    align-items: start;
}

.form label {
    color: var(--text-primary);
    font-weight: var(--fw-sm);
    margin-bottom: 5px;
}

.form .form-control,
.form .form-select {
    background-color: var(--input-bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 8px 12px;
}

.form .form-control:focus,
.form .form-select:focus {
    background-color: var(--input-bg);
    border: 1px solid var(--sub);
    outline: none;
    box-shadow: none;
}

.form .form-control::placeholder,
.form .form-select::placeholder {
    color: var(--text-tertiary);
    font-size: 10px;
}

.address-main {
    display: grid;
    align-items: start;
    justify-content: space-between;
}

.address-card {
    background-color: var(--secondary);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 10px;
}

.address-card h5 {
    color: var(--text-primary) !important;
    font-weight: var(--fw-md) !important;
}

.address-card h6 {
    color: var(--text-secondary) !important;
    font-weight: var(--fw-sm) !important;
    line-height: 20px;
}

.address-card a:hover,
.address-card a h6:hover {
    color: var(--main) !important;
}

@media screen and (min-width: 1098px) {
    .checkout-main {
        grid-template-columns: 63% 35%;
    }

    .address-main {
        grid-template-columns: repeat(2, 49%);
    }

    .form label,
    .address-card h5 {
        font-size: 14px;
    }

    .form .form-control,
    .form .form-select,
    .address-card h6 {
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .checkout-main {
        grid-template-columns: 63% 35%;
    }

    .address-main {
        grid-template-columns: repeat(2, 49%);
    }

    .form label,
    .address-card h5 {
        font-size: 12px;
    }

    .form .form-control,
    .form .form-select,
    .address-card h6 {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .checkout-main {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .address-main {
        grid-template-columns: repeat(1, 1fr);
    }

    .form label,
    .address-card h5 {
        font-size: 12px;
    }

    .form .form-control,
    .form .form-select,
    .address-card h6 {
        font-size: 10px;
    }
}