.profile {
    display: grid;
    justify-content: space-between;
    align-items: start;
}

@media screen and (min-width: 1098px) {
    .profile {
        grid-template-columns: 20% 76%;
    }

    .profile-left {
        position: sticky;
        top: 15%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .profile {
        grid-template-columns: 25% 70%;
    }

    .profile-left {
        position: sticky;
        top: 15%;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        grid-template-columns: repeat(1, 1fr);
    }

    .profile-right {
        margin-top: 20px;
    }
}