/* Product */
.product-list {
    display: grid;
    justify-content: space-between;
    align-items: start;
    overflow-x: scroll;
}

.product-list::-webkit-scrollbar {
    display: none;
}

.product-card {
    border-radius: 0px;
    /* border: 2px solid var(--border); */
    position: relative;
}

.product-card hr {
    border: 0.5px solid var(--text-secondary) !important;
    margin-block: 5px;
}

.product-img {
    background-color: var(--sub-light);
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product-img img {
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: multiply;
}

.product-card .product-badge,
.product-details-main-img .product-badge {
    color: var(--secondary);
    font-weight: var(--fw-sm);
    border-radius: 2px;
    padding: 4px 10px;
    transition: var(--transition);
    font-size: 10px;
    position: absolute;
    top: 2%;
    left: 3%;
}

.product-card .heart,
.product-details-main-img .heart {
    background-color: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--border);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 2%;
    right: 3%;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.product-card .product-rating {
    background-color: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--border);
    border-radius: 20px;
    font-size: 12px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;
    position: absolute;
    bottom: 22%;
    left: 3%;
}

.product-card .heart.active,
.product-details-main-img .heart.active {
    color: #DC2626;
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.product-card .heart span,
.product-details-main-img .heart span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.product-head {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.product-head h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-md) !important;
    text-transform: uppercase;
}

.product-head h5 {
    color: var(--text-primary);
    font-weight: var(--fw-md);
}

.product-details h5,
.product-details h6 {
    color: var(--text-primary);
    font-weight: var(--fw-lg) !important;
}

.product-details h6 span {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.product-details h5 {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1098px) {

    .product-list {
        grid-template-columns: repeat(4, 24%);
    }

    .product-img {
        height: 400px;
    }

    .product-content {
        padding: 10px 15px;
    }

    .product-img img {
        width: 100%;
        height: 100%;
    }

    .product-head h6,
    .product-head h5 {
        font-size: 12px !important;
    }

    .product-details h5,
    .product-details h6 {
        font-size: 14px !important;
    }

    .product-details h6 span {
        font-size: 10px !important;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .product-list {
        grid-template-columns: repeat(3, 32%);
    }

    .product-img {
        height: 400px;
    }

    .product-content {
        padding: 10px;
    }

    .product-img img {
        width: 100%;
        height: 100%;
    }

    .product-head h6,
    .product-head h5 {
        font-size: 10px !important;
    }

    .product-details h5,
    .product-details h6 {
        font-size: 12px !important;
    }

    .product-details h6 span {
        font-size: 8px !important;
    }

}

@media screen and (max-width: 767px) {

    .product-list {
        grid-template-columns: repeat(2, 49%);
    }

    .product-img {
        height: 350px;
    }

    .product-content {
        padding: 10px;
    }

    .product-img img {
        width: 100%;
        height: 100%;
    }

    .product-head h6,
    .product-head h5 {
        font-size: 10px !important;
    }

    .product-details h5,
    .product-details h6 {
        font-size: 12px !important;
    }

    .product-details h6 span {
        font-size: 8px !important;
    }

}