.flex-sidebar::-webkit-scrollbar {
    display: none;
}

.filter-sidebar .btnname {
    width: 100%;
    font-size: 12px;
    font-weight: var(--fw-sm);
    text-align: left;
}

.filter-sidebar .form-control {
    font-size: 12px;
    color: var(--text-primary);
}

.filter-sidebar .form-control:focus {
    border: 1px solid var(--sub);
    outline: none;
    box-shadow: none;
}

.filter-sidebar li {
    padding: 5px 15px 0px 15px;
}

.offcanvas-filter {
    background-color: var(--secondary) !important;
}

.flex-sidebar {
    height: 100%;
    position: sticky;
    left: 0px;
    z-index: 1 !important;
    border: 2px solid var(--border);
    border-radius: 5px;
    overflow-y: scroll;
}

.sizes,
.colors {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    align-items: center;
    justify-content: space-between;
}

.color-box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
}

.color-label {
    font-size: 10px;
    font-weight: var(--fw-md);
    color: var(--text-primary);
}

.color-box:hover {
    transform: scale(1.1);
}

.color-box.selected {
    outline: 2px solid var(--primary);
}

@media screen and (min-width: 1098px) {
    .flex-sidebar {
        top: 15vh;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .flex-sidebar {
        top: 13vh;
    }
}

@media screen and (max-width: 767px) {
    .flex-sidebar {
        display: none;
    }
}