.portal-main {
    margin: auto;
}

.portal-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.portal-form label {
    color: var(--text-primary);
    font-weight: var(--fw-sm);
    margin-bottom: 8px;
    cursor: pointer;
}

.portal-form h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
}

.portal-form h6 a {
    color: var(--sub);
}

.portal-form a:hover {
    color: var(--main);
}

.portal-form .form-control,
.portal-form .form-select {
    background-color: var(--input-bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 10px 18px;
}

.portal-form .input-double-flex:focus-within,
.portal-form .form-control:focus,
.portal-form .form-select:focus {
    background-color: var(--input-bg);
    border: 1px solid var(--sub);
    outline: none;
    box-shadow: none;
}

.portal-form .input-double-flex {
    background-color: var(--input-bg);
    border: 1px solid var(--border);
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.portal-form .form-control::placeholder {
    color: var(--text-tertiary);
    font-size: 14px;
}

@media screen and (min-width: 1098px) {
    .portal-main {
        width: 80%;
    }

    .portal-right {
        width: 40%;
    }

    .portal-form label,
    .portal-form .form-control,
    .portal-form .form-select {
        font-size: 14px;
    }

    .portal-form h6 {
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1098px) {
    .portal-main {
        width: 90%;
    }

    .portal-right {
        width: 50%;
    }

    .portal-form label,
    .portal-form .form-control,
    .portal-form .form-select {
        font-size: 14px;
    }

    .portal-form h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .portal-main {
        width: 90%;
    }

    .portal-right {
        width: 100%;
    }

    .portal-form label,
    .portal-form .form-control,
    .portal-form .form-select {
        font-size: 14px;
    }

    .portal-form h6 {
        font-size: 12px;
    }
}