/* Ellipsis */
.ellipsis-list::-webkit-scrollbar {
    display: none;
}

.ellipsis-img {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    /* border: 2px solid var(--light); */
    position: relative;
}

.ellipsis-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 21.25%, #000 122.29%);
    border-radius: 10px;
}

.ellipsis-img img {
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 9px !important;
}

.ellipsis-list h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.home_ellipsis .splide__arrow--prev {
    left: -1%;
}

.home_ellipsis .splide__arrow--next {
    right: -2%;
}

.home_ellipsis .splide__arrow--next,
.home_ellipsis .splide__arrow--prev {
    background-color: var(--primary);
    top: 40%;
    height: 30px;
    width: 30px;
}

.home_ellipsis .splide__arrow svg {
    fill: var(--secondary);
    height: 10px;
    width: 10px;
}

@media screen and (min-width: 1098px) {

    .ellipsis-img {
        height: 400px;
    }

    .ellipsis-img img {
        width: 100%;
        height: 100%;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .ellipsis-img {
        height: 350px;
    }

    .ellipsis-img img {
        width: 100%;
        height: 100%;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {

    .ellipsis-img {
        height: 400px;
    }

    .ellipsis-img img {
        width: 100%;
        height: 100%;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}