/* Ellipsis */
.ellipsis-list {
    /* display: grid;
    justify-content: space-between;
    align-items: start;
    overflow-x: scroll; */
}

.ellipsis-list::-webkit-scrollbar {
    display: none;
}

.ellipsis-img {
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.ellipsis-img img {
    display: block;
    margin: auto;
    object-fit: contain;
}

.ellipsis-list h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}


.home_ellipsis .splide__arrow--prev {
    left: 0%;
}

.home_ellipsis .splide__arrow--next {
    right: 0%;
}

.home_ellipsis .splide__arrow--next,
.home_ellipsis .splide__arrow--prev {
    background-color: var(--primary);
    top: 40%;
    height: 30px;
    width: 30px;
}

.home_ellipsis .splide__arrow svg {
    fill: var(--secondary);
    height: 10px;
    width: 10px;
}

@media screen and (min-width: 1098px) {

    .ellipsis-list {
        /* grid-template-columns: repeat(8, 1fr); */
    }

    .ellipsis-img {
        width: 125px;
        height: 125px;
    }

    .ellipsis-img img {
        width: 70px;
        height: 70px;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .ellipsis-list {
        /* grid-template-columns: repeat(8, 150px); */
    }

    .ellipsis-img {
        width: 100px;
        height: 100px;
    }

    .ellipsis-img img {
        width: 50px;
        height: 50px;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {

    .ellipsis-list {
        /* grid-template-columns: repeat(8, 130px); */
    }

    .ellipsis-img {
        width: 100px;
        height: 100px;
    }

    .ellipsis-img img {
        width: 50px;
        height: 50px;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}