/* Ellipsis */
.ellipsis-list::-webkit-scrollbar {
    display: none;
}

.ellipsis-img {
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;
}

.ellipsis-img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 21.25%, #000 100.29%);
    border-radius: 10px;
    z-index: 1;
}

.ellipsis-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 9px !important;
    transition: transform 0.3s ease;
}

.ellipsis-card:hover .ellipsis-img img {
    transform: scale(1.05);
}

.ellipsis-list h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.home_ellipsis .splide__arrows {
    position: relative;
}

.home_ellipsis .splide__arrow {
    background-color: var(--primary);
    height: 30px;
    width: 30px;
    opacity: 1;
    transition: all 0.3s ease;
}

.home_ellipsis .splide__arrow:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.home_ellipsis .splide__arrow--prev {
    top: -30px;
    left: 92%
}

.home_ellipsis .splide__arrow--next {
    top: -30px;
    right: 0%;
}

.home_ellipsis .splide__arrow svg {
    fill: var(--secondary);
    height: 10px;
    width: 10px;
}

.home_ellipsis .splide__arrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

@media screen and (min-width: 1098px) {

    .ellipsis-img {
        height: 400px;
    }

    .ellipsis-img img {
        width: 100%;
        height: 100%;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .ellipsis-img {
        height: 350px;
    }

    .ellipsis-img img {
        width: 100%;
        height: 100%;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }
    
    .home_ellipsis .splide__arrow--prev {
        top: -30px;
        left: 80%;
    }

    .home_ellipsis .splide__arrow--next {
        top: -30px;
        right: 0%;
    }

}

@media screen and (max-width: 767px) {

    .ellipsis-img {
        height: 300px;
    }

    .ellipsis-img img {
        width: 100%;
        height: 100%;
    }

    .ellipsis-list h6 {
        font-size: 12px;
    }

    .home_ellipsis .splide__arrow--prev {
        top: -30px;
        left: 70%;
    }

    .home_ellipsis .splide__arrow--next {
        top: -30px;
        right: 0%;
    }

}