.card2::-webkit-scrollbar {
    display: none;
}

.card2 {
    background-color: #E9E7E8;
    display: grid;
    align-items: center;
    border-radius: 20px;
    height: 100%;
}

.card2-left h2 {
    color: var(--brown);
    font-weight: var(--fw-xl);
}

.card2-right h4 {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
}

.card2-right h2 {
    color: var(--brown);
    font-weight: var(--fw-md);
}

.card2-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2-center img {
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 1098px) {

    .card2 {
        grid-template-columns: 15% 35% 30% 15%;
        justify-content: space-evenly;
        padding: 0px 20px;
    }

    .card2-left h2,
    .card2-right h2 {
        font-size: 30px;
    }

    .card2-right h4 {
        font-size: 12px;
    }

    .card2-center img {
        height: 150px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    .card2 {
        grid-template-columns: 14% 34% 29% 19%;
        justify-content: space-evenly;
        padding: 0px 20px;
    }

    .card2-left h2 {
        font-size: 24px;
    }

    .card2-right h2 {
        font-size: 20px;
    }

    .card2-right h4 {
        font-size: 10px;
    }

    .card2-center img {
        width: 90% !important;
        height: 100px;
    }

}

@media screen and (max-width: 767px) {

    .card2 {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        row-gap: 10px;
        padding: 0px 0px 20px 0px;
        overflow-x: auto;
    }

    .card2-left,
    .card2-right {
        padding-left: 20px;
    }

    .card2-right {
        margin: auto !important;
    }

    .card2-left h2,
    .card2-right h2 {
        font-size: 20px;
    }

    .card2-right h4 {
        font-size: 10px;
    }

    .card2-center img {
        width: 90% !important;
        height: 100px;
    }

}