/* Buttons CSS */
/* Home Banner Button */
.homebannerbtn {
  background-color: var(--yellow);
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 1px solid var(--yellow);
  border-radius: 2px;
  padding: 6px 20px;
  transition: var(--transition);
}

.discoverbtn {
  background-color: var(--secondary);
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  padding: 6px 20px;
  transition: var(--transition);
}

.explorebtn {
  background-color: transparent;
  color: var(--secondary);
  font-weight: var(--fw-lg);
  border: none;
  padding: 6px 0px;
  transition: var(--transition);
  text-align: left;
}

.shopnowbtn {
  background-color: transparent;
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 5px 15px;
  transition: var(--transition);
}

.darkbtn {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 6px 20px;
  transition: var(--transition);
}

.filterbtn {
  background-color: transparent;
  color: var(--text-primary);
  font-size: 14px;
  padding: 0px 10px;
  border: 2px solid transparent;
  width: 100%;
  font-weight: var(--fw-md);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

/* Button Hover */
.homebannerbtn:hover,
.discoverbtn:hover {
  background-color: transparent;
  color: var(--secondary);
}

.explorebtn:hover {
  text-decoration: 2px underline var(--secondary);
}

.shopnowbtn:hover,
.darkbtn:hover {
  background-color: var(--secondary);
  color: var(--text-primary);
}

@media screen and (min-width: 1098px) {

  /* Heading CSS */
  .body-head h5 {
    font-size: 18px;
  }

  .body-head h6 {
    font-size: 14px;
  }

  /* Buttons CSS */
  /* Home Banner Btn */
  .homebannerbtn,
  .discoverbtn,
  .explorebtn,
  .darkbtn {
    font-size: 14px;
  }

  .shopnowbtn {
    font-size: 12px;
  }

}

@media screen and (max-width: 1098px) {

  /* Heading CSS */
  .body-head h5 {
    font-size: 16px;
  }

  .body-head h6 {
    font-size: 12px;
  }

  /* Buttons CSS */
  /* Home Banner Btn */
  .homebannerbtn,
  .discoverbtn,
  .explorebtn,
  .darkbtn {
    font-size: 12px;
  }

  .shopnowbtn {
    font-size: 10px;
  }

}

@media screen and (max-width: 767px) {

  /* Heading CSS */
  .body-head h5,
  .body-head h6 {
    text-align: center;
  }
}