/* Buttons CSS */
/* Home Banner Button */
.homebannerbtn {
  background-color: var(--sub);
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 1px solid var(--sub);
  border-radius: 2px;
  padding: 6px 20px;
  transition: var(--transition);
}

.discoverbtn {
  background-color: var(--secondary);
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  padding: 6px 20px;
  transition: var(--transition);
}

.explorebtn {
  background-color: transparent;
  color: var(--secondary);
  font-weight: var(--fw-lg);
  border: none;
  padding: 6px 0px;
  transition: var(--transition);
  text-align: left;
}

.shopnowbtn {
  background-color: transparent;
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 5px 15px;
  transition: var(--transition);
}

.darkbtn {
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 6px 20px;
  transition: var(--transition);
}

.filterbtn {
  background-color: transparent;
  color: var(--text-secondary);
  font-size: 12px;
  padding: 0px;
  border: 2px solid transparent;
  width: 100%;
  font-weight: var(--fw-md);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 85% 15%;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

.sizebtn {
  width: 100%;
  background-color: var(--secondary);
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 5px;
  transition: var(--transition);
}

.cartbtn {
  background-color: var(--sub);
  color: var(--secondary);
  font-weight: var(--fw-sm);
  border: 2px solid var(--sub);
  border-radius: 3px;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  transition: var(--transition);
}

.qtybtn {
  width: 100%;
  background-color: transparent;
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.couponbtn {
  background-color: var(--sub);
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 2px solid var(--sub);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline: 10px;
  transition: var(--transition);
}

.addressbtn {
  background-color: var(--secondary);
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 3px 10px;
  transition: var(--transition);
}

.formbtn {
  background-color: var(--sub);
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 2px solid var(--sub);
  border-radius: 5px;
  padding: 5px 15px;
  transition: var(--transition);
}

.loginbtn {
  width: 60%;
  background-color: #222222;
  color: var(--secondary);
  font-weight: var(--fw-md);
  border: 2px solid var(--primary);
  border-radius: 6px;
  padding: 8px;
  letter-spacing: 1px;
  transition: var(--transition);
}

.tabsbtn {
  background-color: transparent;
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 8px 12px;
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordertabs {
  background-color: transparent;
  color: var(--text-primary);
  font-weight: var(--fw-md);
  border: 2px solid transparent;
  border-radius: 5px 5px 0px 0px;
  padding: 6px 30px;
}

.addcartbtn {
  background-color: var(--secondary);
  color: var(--sub);
  padding: 6px 20px;
  border: 2px solid var(--sub);
  border-radius: 5px;
  font-weight: var(--fw-md);
  transition: var(--transition);
}

.buybtn {
  background-color: var(--sub);
  color: var(--secondary);
  padding: 6px 20px;
  border: 2px solid var(--sub);
  border-radius: 5px;
  font-weight: var(--fw-md);
  transition: var(--transition);
}

.iconbtn {
  background-color: var(--bg-light);
  color: var(--text-primary);
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

/* Button Hover */
.homebannerbtn:hover,
.discoverbtn:hover {
  background-color: transparent;
  color: var(--secondary);
}

.explorebtn:hover {
  text-decoration: 2px underline var(--secondary);
}

.shopnowbtn:hover,
.darkbtn:hover,
.couponbtn:hover,
.formbtn:hover,
.loginbtn:hover,
.buybtn:hover {
  background-color: var(--secondary);
  color: var(--text-primary);
}

.filterbtn:hover {
  color: var(--text-primary);
}

.sizebtn:hover,
.addressbtn:hover,
.iconbtn:hover {
  background-color: var(--main);
  color: var(--secondary);
}

.cartbtn:hover {
  background-color: var(--secondary);
  color: var(--text-primary);
}

.qtybtn:hover {
  background-color: var(--main);
  color: var(--secondary);
}

.tabsbtn.active,
.tabsbtn:hover,
.addcartbtn:hover {
  background-color: var(--sub);
  color: var(--secondary);
}

.ordertabs.active,
.ordertabs:hover {
  background-color: var(--ter-light);
  color: var(--text-primary);
  border-bottom: 2px solid var(--main);
}

@media screen and (min-width: 1098px) {

  /* Buttons CSS */
  .homebannerbtn,
  .discoverbtn,
  .explorebtn,
  .loginbtn,
  .ordertabs,
  .addcartbtn,
  .buybtn {
    font-size: 14px;
  }

  .shopnowbtn,
  .cartbtn,
  .sizebtn,
  .couponbtn,
  .darkbtn,
  .formbtn,
  .addressbtn,
  .tabsbtn {
    font-size: 12px;
  }

}

@media screen and (max-width: 1098px) {

  /* Buttons CSS */
  .homebannerbtn,
  .discoverbtn,
  .explorebtn,
  .darkbtn,
  .loginbtn,
  .ordertabs,
  .addcartbtn,
  .buybtn {
    font-size: 12px;
  }

  .shopnowbtn,
  .cartbtn,
  .sizebtn,
  .couponbtn,
  .formbtn,
  .addressbtn,
  .tabsbtn {
    font-size: 10px;
  }

}