@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Common CSS */
:root {
    /* Colors */
    --main: #212844;
    --sub: #F7A102;
    --primary: #000;
    --secondary: #fff;
    --light: #E9E7E8;
    --bg-light: #F3F9FB;
    --sub-light: #EDEFF6;
    --ter-light: #f6f6f6;
    --text-primary: #222222;
    --text-secondary: #666666;
    --text-tertiary: #ADADAD;
    --text-quarterly: #3C4242;
    --border: #ECECEC;
    --input-bg: #F6F6F6;
    --green: #009400;
    --red: #DC2626;
    --yellow: #F4A300;
    --purple: #8A1DEF;
    --blue: #008ECC;
    --radium: #65FDF4;
    --brown: #362526;
    --gray: #3C4242;
    --box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
    --transition: 0.5s ease-in-out;

    /* Fonts */
    --main-font: "Figtree", sans-serif;
    --fw-ms: 300;
    --fw-sm: 400;
    --fw-md: 500;
    --fw-lg: 600;
    --fw-xl: 700;
    --fw-xxl: 800;
    --fw-xxxl: 900;
}

/* Style CSS */
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

html::-webkit-scrollbar-track {
    background: #f4f4f4;
}

html::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--secondary);
    font-family: var(--main-font) !important;
    /* user-select: none; */
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

li {
    list-style-type: none;
    cursor: pointer;
}

input {
    outline: none;
}

input:focus {
    border: 1px solid var(--main);
}

label span {
    color: var(--red);
}

a,
button,
input,
textarea {
    transition: all var(--transition);
}

/* Number Input Spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-ms-clear {
    display: none;
}

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.empty-state img {
    height: 150px;
    display: flex;
    margin: auto;
}

.empty-state h6{
    font-weight: var(--fw-md);
    color: var(--text-primary);
    font-size: 14px;
}