/* Heading CSS */
.body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.body-head h5 {
    color: var(--text-secondary);
    font-weight: var(--fw-lg);
    margin-bottom: 0px;
}

.body-head h5 span {
    color: var(--yellow);
}

.body-head h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    margin-bottom: 0px;
}

.body-head h6 span {
    cursor: pointer;
    transition: var(--transition);
}

.body-head h6 a {
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.body-head h6 a.active {
    color: var(--main);
}

.body-head h6 span:hover,
.body-head h6 span.active {
    color: var(--purple);
    text-decoration: 1px underline var(--purple);
}

/* Div Paddings */
.ellipsis-main,
.products-main,
.discover-main,
.grid-main,
.offers-main {
    padding: 20px 0px;
}

.main {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 1098px) {
    .main {
        width: 95%;
        margin: auto;
    }
}

@media screen and (min-width: 1098px) {

    /* Heading CSS */
    .body-head h5 {
        font-size: 18px;
    }

    .body-head h6 {
        font-size: 14px;
    }

}

@media screen and (max-width: 1098px) {

    /* Heading CSS */
    .body-head h5 {
        font-size: 14px;
    }

    .body-head h6 {
        font-size: 12px;
    }

}