.review-summary {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.review-left h1 {
    font-weight: var(--fw-xl);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-left h1 span {
    color: #37B66A;
}

.review-left h6 {
    margin: 0;
    color: var(--text-secondary);
    font-weight: var(--fw-sm);
}

.review-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.review-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.review-star {
    color: var(--text-secondary);
    width: 10px;
    text-align: right;
}

.star-icon {
    color: var(--text-secondary);
}

.bar {
    flex: 1;
    height: 10px;
    background: var(--light);
    border-radius: 4px;
    overflow: hidden;
}

.fill {
    height: 100%;
    border-radius: 4px;
}

.count {
    width: 10px;
    color: var(--text-primary);
    font-weight: var(--fw-md);
    text-align: right;
}

.comments {
    margin-top: 30px;
}

.comments-descp {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comments-descp.expanded {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.toggle-btn {
  background: none;
  border: none;
  color: #37B66A;
  font-weight: var(--fw-sm);
  cursor: pointer;
  padding: 0px 0;
  font-size: 14px;
  text-align: left;
}

.toggle-btn:hover {
  text-decoration: underline;
}

.comments-descp,
.comments-user h6 {
    color: var(--text-secondary);
    font-weight: var(--fw-md);
}

.comments-user h5 {
    color: var(--text-primary);
    font-weight: var(--fw-lg);
}

.comments-img,
.comments-user {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.comments-img img {
    height: 100px;
    object-fit: cover;
    object-position: top;
    border: 2px solid var(--border);
    border-radius: 5px;
    mix-blend-mode: multiply;
    cursor: pointer;
}

@media screen and (min-width: 1098px) {

    .review-left h1 {
        font-size: 65px;
    }

    .review-left h1 span {
        font-size: 35px;
    }

    .comments-descp {
        -webkit-line-clamp: 1;
    }

    .review-left h6,
    .comments-descp,
    .comments-user h5,
    .review-star,
    .star-icon {
        font-size: 14px;
    }

    .comments-user h6,
    .count {
        font-size: 12px;
    }

    .review-right {
        min-width: 300px;
        max-width: 500px;
    }
}


@media screen and (min-width: 767px) and (max-width: 1098px) {

    .review-left h1 {
        font-size: 65px;
    }

    .review-left h1 span {
        font-size: 35px;
    }
    
    .comments-descp {
        -webkit-line-clamp: 1;
    }

    .review-left h6,
    .comments-descp,
    .comments-user h5,
    .review-star,
    .star-icon {
        font-size: 14px;
    }

    .comments-user h6,
    .count {
        font-size: 12px;
    }

    .review-right {
        min-width: 300px;
        max-width: 500px;
    }
}


@media screen and (max-width: 767px) {

    .review-left h1 {
        font-size: 65px;
    }

    .review-left h1 span {
        font-size: 40px;
    }
    
    .comments-descp {
        -webkit-line-clamp: 2;
    }

    .review-bar {
        width: 98%;
    }

    .review-left h6,
    .comments-descp,
    .comments-user h5,
    .review-star,
    .star-icon {
        font-size: 14px;
    }

    .comments-user h6,
    .count {
        font-size: 12px;
    }

    .review-right {
        min-width: 300px;
        max-width: 500px;
    }
}